# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# datalogs
#*.csv
*.avi
#*.mov
*.mp4
*.MP4
.DS_Store
*.icloud
*~
logs/Tello_Log_2020_04_17_23_36_33.csv
logs/Tello_Log_2020_04_17_22_30_59.csv
CallibrationDataLogs/Tello_Log_2020_04_15_00_24_58.csv
CallibrationDataLogs/Tello_Log_2020_04_12_18_41_43.csv
CallibrationDataLogs/Tello_Log_2020_04_11_18_15_22.csv
CallibrationDataLogs/Tello_Log_2020_04_11_17_46_08.csv
CallibrationDataLogs/Tello_Log_2020_04_11_15_04_08.csv
CallibrationDataLogs/Tello_Log_2020_04_11_13_31_39.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_28_16_54_36.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_27_20_25_11.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_27_18_43_48_april.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_27_18_43_48.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_26_15_58_07_april.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_26_15_58_07.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_25_00_25_29_april.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_25_00_25_29.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_25_00_23_01.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_24_16_20_52_april.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_24_16_20_52.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_23_17_40_10_april.csv
AprilTag/apriltag-master/python/logs_othertest/Tello_Log_2020_04_23_17_40_10.csv
AprilTag/apriltag-master/python/logs/Tello_Log_2020_04_29_13_36_24_april.csv
AprilTag/apriltag-master/python/logs/Tello_Log_2020_04_29_13_36_24.csv
AprilTag/apriltag-master/python/logs/Tello_Log_2020_04_27_19_30_26_april.csv
AprilTag/apriltag-master/python/logs/Tello_Log_2020_04_27_19_30_26.csv
